
<div class="jumbotron">
    <h1>InDigital Cards</h1>
    <p>The largest online Indigenous Marketplace</p>

    <%= link_to "Cards", cards_path, class: "btn btn-primary" %>
    <%= link_to "Books", books_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>
